@use 'abstracts/variables' as V;

.PasswordCheckList__wrapper {
  padding: 10px 0 5px 0;

  background-color: V.$background-color-light-grey;
  //   max-width: 400px;
  margin: 0 0 20px;
}

.PasswordCheckList__list {
  //   padding: 0;
  //   margin: 0;
}

.PasswordCheckList__item {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #8b8e98;
  margin-bottom: 10px;
  padding-left: 10px;
  position: relative;
}

.PasswordCheckList__icon {
  font-size: 14px;
  color: #8b8e98;
}
