.PasswordCheckList__wrapper {
  padding: 10px 0 5px 0;
  //   border: 1px solid #e5e5e5;
  //   border-radius: 5px;
  background-color: #f9f9f9;
  //   max-width: 400px;
  margin: 0 0 20px;
}

.PasswordCheckList__list {
  //   padding: 0;
  //   margin: 0;
}

.PasswordCheckList__item {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #8b8e98;
  margin-bottom: 10px;
  padding-left: 10px;
  position: relative;
}

.PasswordCheckList__icon {
  font-size: 14px;
  color: #8b8e98;
  //   line-height: 20px;
  //   align-self: self-start;
  //   padding-top: 9px;
  //   margin-bottom: 10px;
  //   padding-left: 10px;
  //   position: relative;
}

// .PasswordCheckList__item::before {
//   content: '•';
//   color: #fca311;
//   position: absolute;
//   left: 0;
//   top: 0;
//   font-size: 20px;
//   line-height: 1.2;
// }
