@import '@/src/styles/abstacts/variables';

.locale-switcher {
  display: flex;

  &__content {
    // background-color: white;
    // border-radius: 6px;
    //   box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    //     0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  }
  &__item {
    // font-size: 13px;
    // line-height: 1;
    // color: var(--violet-11);
    // border-radius: 3px;
    // display: flex;
    // align-items: center;
    // height: 25px;
    // padding: 0 35px 0 25px;
    // position: relative;
    // user-select: none;
  }
  &__flag {
    display: flex;
    align-items: center;
  }
}
