// Typo-color
$color-primary: #14213d;
$color-secondary: #fca311;
$color-secondary-darker: #ce8600;
$color-black: #000000;
$color-white: white;
$color-grey: #8b8e98;
$color-light-blue: #8ecae6;
$color-green: #219653;
$color-red: #e63946;
$color-yellow: #ffb703;
$color-blue-grey: #adb5bd;

$background-color-light-grey: #f4f4f4;

// Background-color
$color-bg: #ffffff;

// Border-radius
$border-small: 5px;
$border-medium: 10px;
$border-large: 20px;

// Media queries size
$smartphone-width: 500px;
$tablet-width: 768px;
$notebook-width: 1024px;
$desktop-width: 1440px;

// header
$header-height: 76px;

// Dashboard Panel

// typo:
$color-dark-grey: #333;
$color-dark-grey-2: #666;

// icon-color
$icon-color: #6e1111;

// Background-color
$status-btn-bg-color: #e0e0e0;
$status-btn-bg-color-hover: #d4d4d4;

// Bg + border
$color-bg-border-white-grey: #ccc;
