// Typo-color
$primary-color: #14213d;
$secondary-color: #fca311;
$secondary-color-dark: #ce8600;
$color-black: #000000;
$color-white: white;
$color-grey: #8b8e98;
$color-light-blue: #8ecae6;
$color-green: #219653;
$color-red: #e63946;
$color-yellow: #ffb703;
$color-blue-grey: #adb5bd;

$background-color-light-grey: #f4f4f4;

// Background-color
$color-bg: #ffffff;
$background-color-auth-form-inputs: rgba(9, 9, 121, 0.2);
// Border-radius
$border-small: 5px;
$border-radius-medium: 10px;
$border-radius-large: 20px;

// Media queries size
$smartphone-width: 500px;
$tablet-width: 768px;
$notebook-width: 1024px;
$desktop-width: 1440px;

// header
$header-height: 76px;

// Dashboard Panel

// typo:
$color-dark-grey: #333;
$color-dark-grey-2: #666;

// icon-color
$icon-color: #6e1111;

// Background-color
$status-btn-bg-color: #e0e0e0;
$status-btn-bg-color-hover: #d4d4d4;

// Bg + border
$color-bg-border-white-grey: #ccc;
$color-error: #e63946;

// Transition
$default-transition: all 0.2s cubic-bezier(0.15, 0.83, 0.66, 1);
