@use './../../../../../src/styles/abstacts/variables.scss' as V;

.folder {
  width: 100%;

  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  background-color: #f9f9f9;
  border-radius: 4px;
  margin-bottom: 8px;
  transition: background-color 0.2s ease;
  border: 2px solid transparent;
  cursor: pointer;

  &:hover {
    background-color: V.$status-btn-bg-color-hover;
    .folder__menu-icon {
      opacity: 1;
    }
  }
  &:focus {
    border: 2px solid black;
    .folder__menu-icon {
      opacity: 1;
    }
  }

  &:focus-visible {
    // z-index: 500;
    outline: none;
  }
}

.folder--active {
  background-color: V.$status-btn-bg-color-hover;
  // border: 1px solid black;
  .folder__menu-icon {
    opacity: 1;
  }
}

.folder__icon {
  flex-shrink: 0;
  // color: #555;
}

.folder__name {
  text-align: left;
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: #007bff;
  text-decoration: underline;

  &:hover {
    color: #0056b3;
  }
}
.folder__menu-icon {
  opacity: 0;
  color: #6d6d6d;
  flex-shrink: 0;
  &:hover {
    color: V.$color-secondary;
  }
  &:focus {
    color: V.$color-secondary;
    opacity: 1;
  }
}

.folder__triggerBtn {
  // width: 30px;
  display: block;
  flex-shrink: 0;
  background-color: transparent;
  border: none;
  color: #007bff;
  text-decoration: underline;
  &:focus {
    .folder__menu-icon {
      color: V.$color-secondary;
      opacity: 1;
    }
  }
}
.folder__menu-select {
  div {
    cursor: pointer;
  }
}

.folder__item--red {
  color: red;
}

.folder__new-name {
  flex-grow: 1;
  width: 100%;
  // background-color: transparent;
  border: none;
  color: #007bff;
  text-decoration: underline;
  &:hover {
    color: #0056b3;
  }
}
