@use './../../../../../src/styles/abstacts/variables.scss' as V;

.panel__folder-input-group {
  // flex: 1;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.panel__new-folder-icon {
  margin-right: 10px;

  cursor: pointer;
  transition: all 0.1s;
  &:hover {
    transform: scale(1.05);
  }
}
.panel__folder-input {
  width: 20px;
  flex: 1;
  padding: 8px;
  border: 1px solid V.$color-bg-border-white-grey;
  border-radius: 4px;
}
