@use './../../../../src/styles/abstacts/variables.scss' as V;
// @use './../../../../src/styles/abstacts/mixins';

.panel {
  width: 250px;
  height: calc(100vh - 70px);
  background-color: V.$background-color-light-grey;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.1); /* Ombre uniquement sur les côtés et en bas */
  position: fixed;
  top: 90px;
  left: 0;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
}
.panel__search-container {
  position: relative;

  margin-bottom: 20px;
}

.panel__search-input {
  width: 210px;

  padding: 8px 32px 8px 8px;
  border: 1px solid black;
  border-radius: 4px;
}

.panel__search-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  // flex-shrink: 0;
  // margin-left: 10px;
  color: V.$icon-color;
}

.panel__section-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: V.$color-dark-grey;
  line-height: 16px;
}
.panel__folders-count {
  transform: scale(50%);
  color: V.$color-dark-grey-2;
}

.panel__status-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.panel__status-button {
  background-color: V.$status-btn-bg-color;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: V.$status-btn-bg-color-hover;
  }
}

.panel__divider {
  height: 1px;
  background-color: V.$color-bg-border-white-grey;
  margin: 20px 0;
}

.panel__folder-input-group {
  // flex: 1;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.panel__folder-input {
  width: 20px;
  flex: 1;
  padding: 8px;
  border: 1px solid V.$color-bg-border-white-grey;
  border-radius: 4px;
}
.panel__new-folder-icon {
  margin-right: 10px;

  cursor: pointer;
  transition: all 0.1s;
  &:hover {
    transform: scale(1.05);
  }
}
.panel__folders {
  position: relative;
  overflow-y: hidden;
  margin-top: 4px;
  margin-bottom: 20px;
  flex: 1;
}

.panel__folders-wrapper {
  max-height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
}
.panel__scroll-arrow-container {
  position: absolute;
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: V.$background-color-light-grey;
  cursor: pointer;
  &--top {
    top: 0;
  }
  &--bottom {
    bottom: 0;
  }
}

.panel__scroll-arrow {
  width: 40px;
  height: 40px;

  color: V.$color-dark-grey-2;
  transition: color 0.3s ease;

  &:hover {
    color: V.$color-dark-grey;
  }
}

.panel__actions {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.panel__action-icon {
  cursor: pointer;
  color: V.$color-dark-grey-2;
  transition: color 0.3s ease;

  &:hover {
    // color: #000;
  }
}
