@use 'abstracts/variables' as V;
@use 'abstracts/mixins' as *;

.header {
  z-index: 1000;
  background-color: V.$white-color;
  position: sticky;
  top: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.header__container {
  margin: 0 auto 20px;
  height: 70px;
  max-width: none;

  display: flex;
  align-items: center;
  justify-content: space-between;
  color: V.$primary-color;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}
.header__container--auth {
  // max-width: none;
  max-width: V.$breakpoint-desktop;
}

.header__brand {
  font-size: 2.3rem;
  text-align: center;
  min-width: 116px;
}
.header__brand--dashboard {
  width: 250px;
  transform: translateX(-20px);
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.header__nav--dashboard {
  margin-right: 40px;
}

@media (max-width: V.$breakpoint-notebook) {
  .header__brand {
    // width: 100%;
    // font-size: 1.6rem;
  }
  .header__nav--dashboard {
    margin-right: 0px;
  }
}
@media (max-width: V.$breakpoint-tablet) {
  .header__container {
    padding-right: 10px;
  }
  .header__nav {
    gap: 15px;
  }
  .header__brand {
    // width: 100%;
    font-size: 1.6rem;
    margin-right: 10px;
  }
}
// @media (max-width: V.$breakpoint-smartphone) {
//   .header__link {
//     &--user-img {
//       width: 35px;
//       height: 35px;
//       img {
//         width: 100%;
//         height: auto;
//       }
//     }
//   }
// }
