@use './../../../../styles/abstacts/variables.scss' as V;
@use './../../../../styles/abstacts/mixins.scss' as M;

.auth-provider__wrapper {
  grid-area: authBtn;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 15px;
}
.auth-provider__brand {
  @include M.sign-input-btn;
  width: 100%;
  margin-bottom: 0;
  cursor: pointer;
  position: relative;
  font-weight: 600;
  color: V.$color-primary;
}

.auth-provider__icon {
  position: absolute;
  left: 15px;
  top: 4px;
  width: 28px;
  height: auto;
  &--apple {
    top: 3px;
  }
  &--linkedin {
    left: 12px;
    top: 1px;
    width: 34px;
    height: 34px;
  }
}

@media screen and (max-width: 600px) {
  .auth-provider__icon {
    left: 50%;
    translate: -50%;
  }
  .auth-provider__label {
    display: none;
  }
}
