// Typo-color
$color-primary: #14213d;
$color-secondary: #fca311;
$color-secondary-darker: #ce8600;
$color-black: #000000;
$color-white: white;
$color-grey: #8b8e98;
$color-light-blue: #8ecae6;
$color-green: #219653;
$color-red: #e63946;
$color-yellow: #ffb703;
$color-blue-grey: #adb5bd;

$background-color-light-grey: #f9f9f9;

// Background-color
$color-bg: #ffffff;

// Media queries size
$smartphone-width: 500px;
$tablet-width: 768px;
$notebook-width: 1024px;
$desktop-width: 1440px;

// header

$header-height: 76px;
