@use 'abstracts/variables' as V;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus-visible {
  outline: 2px solid black;
}
html {
  // scrollbar-gutter: stable;
  overflow-y: scroll;
}
body {
  color: V.$primary-color;
  font-family: 'Montserrat', sans-serif;
}
// body.light {
//   background-color: V.$color-light;
// }
// body.dark {
//   background-color: V.$color-dark;
// }
.main {
}

a {
  text-decoration: none;
  color: V.$primary-color;
  &:hover {
    cursor: pointer;
  }
}
ul {
  list-style-type: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}
